.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: aqua;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    background: #fff;
}

body {
    margin: 0px;
}

